<%- include('adheader') %>
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <body>

    <div class="sidebar">
     <li> <a  href="getRecord">STUDENT DETAILS</a></li>
      <li><a href="adminRecord">VIEW</a></li>
      <li><a href="messagerecord">UPDATE MESSAGE</a></li>
      <li><a href="adminlogout">LOGOUT</a></li>
     
    </div>

          
       
        <div style="float:right">
          <form align="right" name="form1" method="post" action="logout">
             <label class="logoutLblPos">
              <a href="adminlogout" class="btn btn-primary">LOGOUT</a>
            </label>
          </form>
          </div>
    </nav>
   
     
    </div>
    <div>
    <section class="firstsection">
      <h1>admin</h1>
      </div>
  </section>

  
         


</body>

</html>
