
               <form method="POST" name="form1" action="/adminsubmit">
                <label >Enter your user id</label>
                 <input type="text" placeholder="aid" id="aid" name="aid"><br><br>
                
                 <label >Enter your  password</label>
                 <input type="text"placeholder="pass" id="pass" name="pass"><br><br>
                    
                 <label >Enter your name</label>
                 <input type="text" placeholder="name" id="name" name="name"><br><br>
                
                
                <label >Enter your Age</label>
                <input type="text" placeholder="age" id="age" name="age"><br><br>
                
                 <label >Enter your Adhar number</label>
                 <input type="text" placeholder ="adharno" id="adharno" name="adharno"><br><br>
                
                <label >Enter your contact no</label>
                 <input type="text" placeholder="contact" id="contact" name="contact"><br><br>
                
                 <input type="submit" value="submit">
                
                </form>
            