<form method="POST" name="form1" action="/Message">
    <label >Enter your user mid</label>
     <input type="text" placeholder="mid" id="mid" name="mid"><br><br>
    
     <label >  new message</label>
     <input type="textfield"placeholder="active" id="active" name="active"><br><br>
        
     <label >Enter Date</label>
     <input type="textfield" placeholder="Date" id="Date" name="Date"><br><br>
    
    <input type="submit" value="submit">
    
    </form>
