<h2> Mobile name is <%= mobileData.name %> </h2>
<h2> Mobile model is <%= mobileData.model %> </h2>
<h2> Mobile processor<%= mobileData.processor %> </h2>
<h2> Mobile type is  <%= mobileData.type %> </h2>
