         <h1> .....Admission to .....</h1>

<form method="POST" name="form1" action="/RegDetails">
    <label >Enter your user id</label>
    <input type="text" placeholder="uid" id="uid" name="uid"><br><br>

     <label >Enter your  name</label>
    <input type="text"placeholder="name" id="name" name="name"><br><br>
    
    <label >Enter your password</label>
    <input type="text" placeholder="password" id="password" name="password"><br><br>


    <label >Enter your gender</label>
    <input type="text" placeholder="gender" id="gender" name="gender"><br><br>

    <label >Enter your educational qualification</label>
    <input type="text" placeholder ="education" id="education" name="education"><br><br>

    <label >Enter your work experiences</label>
    <input type="text" placeholder="workexp" id="workexp" name="workexp"><br><br>

    <label >Enter your age</label>
    <input type="text" placeholder="age" id="age" name="age"><br><br>


    <input type="submit" value="submit">

</form>