<%- include('reg') %>

<div class="firstsection">
 <h1>REGISTERATION</h1>   
</div>
<div class="form-center">
<form method="POST" name="form1" action="/submitbank">
    <label >ENTER YOUR BANKID ID</label>
     <input type="text" placeholder="bid" id="bid" name="bid"><br><br>
    
     <label >ENTER YOUR PASSWORD</label>
     <input type="text"placeholder="password" id="password" name="password"><br><br>
        
     <label >ENTER YOUR EMAIL ID</label>
     <input type="text" placeholder="email" id="email" name="email"><br><br>
    
    <input type="submit" value="submit">
    
    </form>
    </div>
    
